@font-face {
    font-family: 'amatic_scregular';
    src: url('fonts/amaticsc-regular-webfont.woff2') format('woff2'),
         url('fonts/amaticsc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
